@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.left-links{
  display: flex;
 
  gap: 30px;
  list-style-type: none; 
}
.right-links{
  display: flex;
  margin-right: 30px;
  gap: 30px;
  list-style-type: none;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 420px;
  background-color: #e6e6e6;
  height: 55px;
}
a:link {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
